<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Макет</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

    <header class="header">
        <div class="container">
            <div class="header-inner">
                <a href="#">
                    <img src="img/logo.png" alt="Логотип компании">
                </a>
                <nav class="header-nav">
                    <ul class="header-list">
                        <li class="header-item">
                            <a href="#">Меню</a>
                        </li>
                        <li class="header-item">
                            <a href="#">Меню</a>
                        </li>
                        <li class="header-item">
                            <a href="#">Меню</a>
                        </li>
                        <li class="header-item">
                            <a href="#">Меню</a>
                        </li>
                    </ul>
                </nav>
                <a class="header-btn" href="#">Войти</a>
            </div>
        </div>
    </header>
    <main>
        <section class="hero">
            <div class="container">
                <h1 class="hero-title">
                    ЗАГОЛОВОК
                </h1>
                <div class="hero-inner">
                    <div class="hero-text">
                        <p class="pg">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. <span>Ipsum lorem</span>
                        </p>
                        <p>
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                    <div class="hero-btns">
                        <a class="hero-btn1 xxx" href="#">Кнопка</a>
                        <a class="hero-btn2" href="#">Кнопка <img src="./img/btn.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="cards">
            <div class="container">
                <h2 class="cards-totle">
                    ЗАГОЛОВОК
                </h2>
                <P class="cards-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </P>
                <ul class="cards-flex">
                    <li class="cards-flex-item">
                        <div class="cards-flex-inner">
                            <h2 class="cards-flex-title">ЗАГОЛОВОК</h2>
                            <P class="cards-flex-text">Lorem ipsum dolor sit amet</P>
                        </div>
                    </li>
                    <li class="cards-flex-item">
                        <div class="cards-flex-inner">
                            <h2 class="cards-flex-title">ЗАГОЛОВОК</h2>
                            <P class="cards-flex-text">Lorem ipsum dolor sit amet</P>
                        </div>
                    </li>
                    <li class="cards-flex-item">
                        <div class="cards-flex-inner">
                            <h2 class="cards-flex-title">ЗАГОЛОВОК</h2>
                            <P class="cards-flex-text">Lorem ipsum dolor sit amet</P>
                        </div>
                    </li>
                    <li class="cards-flex-item">
                        <div class="cards-flex-inner">
                            <h2 class="cards-flex-title">ЗАГОЛОВОК</h2>
                            <P class="cards-flex-text">Lorem ipsum dolor sit amet</P>
                        </div>
                    </li>
                    <li class="cards-flex-item">
                        <div class="cards-flex-inner">
                            <h2 class="cards-flex-title">ЗАГОЛОВОК</h2>
                            <P class="cards-flex-text">Lorem ipsum dolor sit amet</P>
                        </div>
                    </li>
                    <li class="cards-flex-item">
                        <div class="cards-flex-inner">
                            <h2 class="cards-flex-title">ЗАГОЛОВОК</h2>
                            <P class="cards-flex-text">Lorem ipsum dolor sit amet</P>
                        </div>
                    </li>
                    <li class="cards-flex-item">
                        <div class="cards-flex-inner">
                            <h2 class="cards-flex-title">ЗАГОЛОВОК</h2>
                            <P class="cards-flex-text">Lorem ipsum dolor sit amet</P>
                        </div>
                    </li>
                    <li class="cards-flex-item">
                        <div class="cards-flex-inner">
                            <h2 class="cards-flex-title">ЗАГОЛОВОК</h2>
                            <P class="cards-flex-text">Lorem ipsum dolor sit amet</P>
                        </div>
                    </li>
                </ul>
                <a class="cards-btn" href="#">Кнопка</a>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer-inner">
                <div class="footer-desc">
                    <a href="#">
                        <img src="img/logo.png" alt="Логотип компании">
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. </p>
                </div>
                <div class="footer-colm-mrgn">
                    <h4 class="footer-tetle">
                        ЗАГОЛОВОК
                    </h4>
                    <ul class="footer-list">
                        <li class="footer-item"><a class="footer-link" href="#">Меню</a></li>
                        <li class="footer-item"><a class="footer-link" href="#">Меню</a></li>
                        <li class="footer-item"><a class="footer-link" href="#">Меню</a></li>
                        <li class="footer-item"><a class="footer-link" href="#">Меню</a></li>
                        <li class="footer-item"><a class="footer-link" href="#">Меню</a></li>
                        <li class="footer-item"><a class="footer-link" href="#">Меню</a></li>
                        
                    </ul>
                </div>
                <div class="footer-colm">
                    <h4 class="footer-tetle">
                        ЗАГОЛОВОК
                    </h4>
                    <ul class="footer-list">
                        <li class="footer-item"><a class="footer-link" href="#">Меню</a></li>
                        <li class="footer-item"><a class="footer-link" href="#">Меню</a></li>
                        <li class="footer-item"><a class="footer-link" href="#">Меню</a></li>
                        <li class="footer-item"><a class="footer-link" href="#">Меню</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>